Connected Services/SRHello/HelloEndpointService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://learnwebservices.com/services/hello" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloEndpointService" targetNamespace="http://learnwebservices.com/services/hello" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://learnwebservices.com/services/hello" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="SayHello" type="tns:SayHello" />
      <xs:element name="SayHelloResponse" type="tns:SayHelloResponse" />
      <xs:complexType name="SayHello">
        <xs:sequence>
          <xs:element name="HelloRequest" type="tns:helloRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="helloRequest">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SayHelloResponse">
        <xs:sequence>
          <xs:element name="HelloResponse" type="tns:helloResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="helloResponse">
        <xs:sequence>
          <xs:element name="Message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloResponse">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="SayHello">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:portType name="HelloEndpoint">
    <wsdl:operation name="SayHello">
      <wsdl:input name="SayHello" message="tns:SayHello" />
      <wsdl:output name="SayHelloResponse" message="tns:SayHelloResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloEndpointServiceSoapBinding" type="tns:HelloEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="SayHello">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SayHelloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloEndpointService">
    <wsdl:port name="HelloEndpointPort" binding="tns:HelloEndpointServiceSoapBinding">
      <soap:address location="https://www.learnwebservices.com/services/hello" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>